{% extends 'base.html.twig' %}

{% block title %}réinitialisation de mot de passe!{% endblock %}

{% block stylesheets %}
<style>
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: linear-gradient(to bottom, white, red);
        animation: fadeIn 1s ease-in-out;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .login-form {
        background: rgba(255, 255, 255, 0.9);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
    }
</style>
{% endblock %}

{% block body %}
<section class="container my-3">
<div class="row">
<div class="col">
<h1>réinitialisation de mot de passe</h1>
{{ form_start(requestPassForm)}}
{{form_row (requestPassForm.email)}}
<button type="submit" class="btn btn-primary">envoyer</button>
{{ form_end (requestPassForm)}}
</div>
</div>
</section>
{% endblock %}
